port = 5000

class Config(object):
    SECRET_KEY = 'YTTRYTFdez576576HGFytfytfzytfzyy76677' # Use e.g. http://randomkeygen.com/
    MONGODB_DB = '{{mook_name}}'
    CORS_ORIGINS = ['{{mook_front_server_name}}']
    ## Local servers only:
    CENTRAL_SERVER_HOST = 'http://api.bsfcampus.org'
    CENTRAL_SERVER_KEY = 'KoomBook239'
    CENTRAL_SERVER_SECRET = '308dba97bbbe9129d7ede9a974ba0c2e'
    UPLOAD_FILES_PATH = "{{ mook_path }}{{ mook_name }}/static/"
    UPLOAD_FILES_URL = "http://{{mook_api_server_name}}/static/"
